:root{
    --black_color: #152D4B;
    --grey_1_color: #5E6C7D;
    --grey_2_color: #8FA0B5;
    --blue_sky_color:#0DA1B8;
    --white_color:#F0F7FF;
    --black_black_color:#091421;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    height: 64px;
    align-items: center;
    justify-content: flex-end;
    /* background-color: #152B4B; */
    color: var(--white_color);
}

.menu-toggle{
    display: none;
}


.menu-button-container{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    margin-right:  5px;
    cursor: pointer;
    border-radius: 27px;
    background: var(--blue_sky_color);
    box-shadow: 0px 4px 9px rgba(7, 50, 56, 0.25);
}


/* Aqui dibuja el menu amburgesa */
.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: var(--white_color);
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
/* ================================ */


.menu{
    position: absolute;
    top: -30px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style-type: none;
    color: var(--white_color);
    font-size: 1.8rem;
}

.menu a{
    width: 100%;
    color: var(--white_color);
    text-decoration: none;
    text-align: center;
}

.menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
.menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
.menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }


  .menu-toggle ~ .menu li{
      height: 0px;
      margin: 0px;
      padding: 0px;
      border: 0px;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-toggle:checked ~ .menu li{
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu-toggle:checked ~ .menu{
      top: 0px;
  }

  .menu > li{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child){
      border-bottom: 1px solid #444;
  }

main .Init-container{
    height: auto;
    background: radial-gradient(50% 50% at 50% 50%, #234B7D 0%, #152B4B 100%);
}

.hello{
    width: 100%;
    height: calc(100vh - 20vh);
    color: var(--white_color);
    padding-top: 1.6rem;
}

.hello__imagen{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hello__imagen img{
    min-width: 300px;
    margin: 65px auto 3.2rem;
}

.hello__imagen p{
    margin: 0px 5px 0.7rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}


.About{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../img/backgrounds/font_about.svg");
    background-size:cover; 
    background-repeat: no-repeat; 
    color: var(--white_color);
}

.about__title1{
    margin-top: 57px;
    margin-bottom: 1.3rem;
    font-size:3.1rem ;
    font-weight: 600;
    line-height: 4.2rem;
}

.about__imgAvatar img{
    height: 228px;
    width: 228px;
    margin-bottom: 1.3rem;
    border-radius: 114px;
}

.about__title2{
    margin-bottom: 2.2rem;
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 4.2rem;
}

.About__text{
    margin-top: 13px;
}

.About__text .About__text--position{
    margin-bottom: 1.3rem;
    margin-left: 9px;
    margin-right: 9px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.2rem;
}


.About .btn-Download-cv{
    height: 47px;
    width: 172px;
    margin-bottom: 32PX;
    color: var(--black_black_color);
    background-color: var(--blue_sky_color);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.7rem;
    border: none;
    outline: none;
}

.submit:active,
.btn-Download-cv:active{
    color: var(--white_color);
    border: 1px solid #0B8699;
    box-sizing: border-box;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.42);
}



.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical-skill,
.soft-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    width: 100%;
}
.technical-skill h2,
.soft-skill h2{
    margin-top: 13px;
    margin-bottom: 9px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

.technical-skills-options{
    display: flex;
    justify-content: space-around;
    padding: 0 10px;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
}

.technical-skills-options picture{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    padding: 10px;
    background-color: var(--white_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0px 10px 10px 10px;

}


.soft-skills-container{
    width: 100%;
    padding: 0px 10px;
}

.soft-skill__slicer{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    width: 100%;
    height: auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.soft-skill-item{
    display: flex;
    scroll-snap-align: center;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
    min-width: 160px;
    width: 100%;
    padding: 10px;
    margin: 0px 15px 15px 0px;
    background: #F0F6FF;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.soft-skill-item .soft-skill-item__title{
    height: 24px;
    width: 87px;
    padding: 3px 10px;
    margin: 0px 0px 16px 0px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 18px;
    color: var(--white_color);
    background-color: var(--black_black_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.soft-skill-item img{
    min-width: 112px;
    margin-bottom: 13px;
}

.soff-skill__description{
    text-align: center;
    font-size: 1rem;
    line-height: 14px;
    color: var(--black_black_color);
}

.Projects h2{
    width: 100%;
    margin: 25px 0px 15px;
    font-size: 25px;
    line-height: 34px;
    font-weight: bold;
    text-align: center;
    color: var(--black_black_color)
}

.project-container{
    width: 93.75%;
    height: auto;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Project-card{
    min-width: 144px;
    max-width: 500px;
    width: 48%;
    margin: 2% 0px;
}

.Project-card img{
    width: 100%;
    height: 100%;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 150px);
    background-image: url("../img/backgrounds/fontform.svg");
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white_color);
}

form h2{
    margin-top: 3.7rem;
    text-align: center;
    font-size: 2.5rem;
    line-height: 3.4rem;
    font-weight: bold;
}

form > p{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 15px 0 7px;
    color: var(--blue_sky_color);
}

.form-container{
    display: flex;
    flex-direction: column;
    width: 78.125%;
    height: auto;
}

.form-container p{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
    font-weight: 600;

}

.input--style{
    padding: 0 1rem;
    width: 100%;
    background-color: var(--white_color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
}
.form-container input{
    margin-bottom: 1.4rem;

    height: 2.8rem;
}

.form-container textarea{
    width: 100%;
    height: 150px;
    padding-top: 1rem;
}

.form-container .submit{
    align-self: center;
    font-size: 2rem;
    line-height: 2.7rem;
    font-weight: bold;
    color: var(--black_black_color);
    height: 4.7rem;
    width: 17.2rem;
    margin: 1.5rem 0 2rem 0;
    background: var(--blue_sky_color);
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    outline: none;
    border: none;
}


footer{
    width: 100%;
    height: 115px;
    padding: 5px 0px;
    color: var(--blue_sky_color);
    background-color: var(--black_black_color);
}

footer .social-media{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 1rem auto;
}

footer picture{
    height: 45px;
    width: 45px;
    padding: 10px;
    background-color: rgba(13, 161, 184, 0.37);
    border-radius: 10px;
}

footer img{
    height: 25px;
    width: 25px;
}

footer p{
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    margin: 15px 0px;
}